# MYSQL_ROOT_PASS is required
MYSQL_ROOT_PASS=**********
BACKUP_BASE=/backup
MYSQLDUMP=/usr/bin/mysqldump
MYSQLSHOW=/usr/bin/mysqlshow
COMPRESS_PROG=/usr/bin/pigz
ARCHIVE_FILE_SUFFIX=.gz
#DATE_FORMAT=+%Y%m%d_%H%M%S
DATE_FORMAT=+%Y%m%d
RETENTION=5
